{% extends  "proyectofinalWeb/_privado/base.html" %}

{% load static %}

{% block title %} Inicio {% endblock %}

{% block despUsuario %}
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <div id="userDropdown" class="d-flex flex-row" data-bs-toggle="dropdown" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class=" my-auto bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                <a class="nav-link dropdown-toggle" href="#" aria-expanded="false">
                    {{ nombre }}
                </a>
            </div>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
                {% if admin %}
                    <li><a class="dropdown-item" href={% url 'administracion' %}>Configuración</a></li>
                {% endif %}

                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <input class="dropdown-item" type="submit" value="Cerrar Sesion">
                    </form>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block contenido %}
    <div class="container mt-4">
        <a href="/misRutas/" class="btn btn-secondary bg-white text-dark border border-white">
            ← Volver atrás
        </a>
            <h1 class="mb-4">Detalles de la Ruta</h1>
            <div class="mb-4">
                <h4>Mapa de la Ruta</h4>
                <div class="ratio ratio-21x9">
{#                   <iframe src="{{ MEDIA_URL }}{{ rutaSelec.graficosRuta.mapa_interac }}" width="100%" height="500px" frameborder="0"></iframe>#}
                   <iframe src="{% static rutaSelec.graficosRuta.mapa_interac %}" width="100%" height="500px" frameborder="0"></iframe>

                </div>
            </div>

            <div class="mb-4">
                <h4>Estadísticas</h4>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Tiempo:</strong> 2h : 26min : 36s</li>
                    <li class="list-group-item"><strong>Distancia:</strong> 60,99 km</li>
                    <li class="list-group-item"><strong>Velocidad:</strong> 24,96 km/h</li>
                    <li class="list-group-item"><strong>Ascenso:</strong> 502 m</li>
                    <li class="list-group-item"><strong>Descenso:</strong> 519 m</li>
                    <li class="list-group-item"><strong>Dureza:</strong> <span class="badge bg-success">baja</span></li>
                </ul>
            </div>
        {% if rutaSelec.tipoFichero == 'F' %}
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <img src="/media/detalleRuta/ppm/ppm_1.png" class="img-fluid" alt="Gráfica 1">
                    </div>
                    <div class="col-md-4 mb-3">
                        <img src="/media/detalleRuta/ppm/ppm_1.png" class="img-fluid" alt="Gráfica 2">
                    </div>
                    <div class="col-md-4 mb-3">
                        <img src="/media/detalleRuta/ppm/ppm_1.png" class="img-fluid" alt="Gráfica 3">
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="mb-4">
            <h4>Comentarios</h4>

            <ul class="list-group mb-3" id="comentarios-lista">
                {% for comment in listaComentarios %}
                    <li class="list-group-item">{{ comment.comentario }}</li>
                {% endfor %}
            </ul>
            <form id="comentario-form">
                <div class="mb-3">
                    <textarea class="form-control" id="comentario" rows="3"
                              placeholder="Escribe tu comentario..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Agregar Comentario</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}