{% extends  "proyectofinalWeb/_privado/base.html" %}

{% load static %}


{% block title %} Inicio {% endblock %}
{% block estilos %}
    <style>
        #btnEliminar {
            color: white;
            background-color: red;
        }

        #btnEliminar:hover {
            color: white;
            background-color: #ac0606;
        }
    </style> {% endblock %}
{% block despUsuario %}
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <div id="userDropdown" class="d-flex flex-row" data-bs-toggle="dropdown" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class=" my-auto bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                <a class="nav-link dropdown-toggle" href="#" aria-expanded="false">
                    {{ nombre }}
                </a>
            </div>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
                {% if admin %}
                    <li><a class="dropdown-item" href={% url 'administracion' %}>Configuración</a></li>
                {% endif %}

                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <input class="dropdown-item" type="submit" value="Cerrar Sesion">
                    </form>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block contenido %}
    <div class="container mt-4 mb-4">
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url "nuevaRuta" %}" id="addCardBtn" class="btn btn-primary">Añadir Nueva Ruta</a>
        </div>
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <div class="col">
                {% for ruta in rutas %}
                    <div class="card shadow-lg border rounded-4 mb-4" id="tarjeta_{{ ruta.id }}">
                        <div class="row g-0">
                            <div class="col-md-12 p-3 d-flex align-items-center space-between">
                                <div class="w-100">
                                    <p class="text-muted mb-0"
                                       style="font-size: 0.85rem;">{{ ruta.diferencia }}</p>
                                </div>
                                <div class="text-end dropdown">
                                    <a class="nav-link" href="#" id="rutaDropdown{{ ruta.id }}" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="{% static 'img/ellipsis-v-solid.svg' %}" alt="3puntos" width="3%">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end"
                                         aria-labelledby="rutaDropdown{{ ruta.id }}">

                                        <form action="{% url 'visibilidad' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_ruta" value="{{ ruta.id }}">
                                            <input type="hidden" name="publico"
                                                   value="{% if ruta.publico %}False{% else %}True{% endif %}">
                                            <button type="submit" class="dropdown-item">{% if ruta.publico %}Hacer
                                                Privado{% else %}Hacer Público{% endif %}</button>
                                        </form>
                                        <form action="{% url 'eliminarRuta' %}" method="post" id="formulario-eliminar">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_ruta_eliminar" value="{{ ruta.id }}">
                                            <button id="btnEliminar" type="submit" class="dropdown-item">Eliminar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% if ruta.imagen %}
                                <div class="col-md-4 col-9 mx-auto">
                                    <img src="{{ MEDIA_URL }}{{ ruta.imagen.url }}" alt="imagen"
                                         class="w-100 rounded-start"
                                         style="border: none; border-radius: 15px 0 0 15px;">
                                </div>
                            {% endif %}
                            <div class="col-md-8">
                                <div class="card-body">
                                    {% comment %}{% if ruta.tipoFichero == 'F' %}{% endcomment %}
                                    <a href="{% url 'detalles_ruta' id_ruta=ruta.id %}"
                                       class="text-decoration-none card-link-wrapper text-dark">
                                        {% comment %}     {% endif %}{% endcomment %}
                                        <h5 class="card-title d-flex align-items-center">
                                            {{ ruta.titulo }}
                                        </h5>
                                        {% comment %} {% if ruta.tipoFichero == 'F' %}{% endcomment %}
                                    </a>
                                    {% comment %} {% endif %}{% endcomment %}
                                    <p class="card-text text-muted mb-2">{{ ruta.fecha }}</p>
                                    <div class="d-flex flex-wrap">
                                        <div class="me-3">
                                            <span class="text-muted">Tiempo</span> <strong>
                                            {% if  ruta.tiempo.hour  > 0 %}
                                                {{ ruta.tiempo.hour }}h
                                            {% endif %}
                                            {% if ruta.tiempo.minute > 0 %}
                                                {% if ruta.tiempo.hour > 0 %} : {% endif %}
                                                {{ ruta.tiempo.minute }}min
                                            {% endif %}
                                            {% if ruta.tiempo.second > 0 %}
                                                {% if ruta.tiempo.hour > 0 or ruta.tiempo.minute > 0 %} :
                                                {% endif %}
                                                {{ ruta.tiempo.second }}s
                                            {% endif %}
                                        </strong>
                                        </div>
                                        <div class="me-3">
                                            <span class="text-muted">Distancia</span>
                                            <strong>{{ ruta.distancia }}
                                                km</strong>
                                        </div>
                                        <div class="me-3">
                                            <span class="text-muted">Velocidad</span>
                                            <strong>{{ ruta.velocidad }}
                                                km/h</strong>
                                        </div>
                                        <div class="me-3">
                                            <span class="text-muted">Ascenso</span>
                                            <strong>{{ ruta.ascenso }}
                                                m</strong>
                                        </div>
                                        <div class="me-3">
                                            <span class="text-muted">Descenso</span>
                                            <strong>{{ ruta.descenso }}
                                                m</strong>
                                        </div>
                                        <div class="me-3">
                                            <span class="text-muted">Visibilidad</span>
                                            <strong>{{ ruta.publico|yesno:"Público,Privado" }}</strong>
                                        </div>
                                        <div class="me-md-0 me-5">
                                            <span class="text-muted">Dureza</span> <strong
                                                class="border rounded px-3 py-0{% if ruta.dureza == 'alta' %}border border-dark text-dark{% elif ruta.dureza == 'media' %}border border-danger text-danger{% elif ruta.dureza == 'baja' %}border border-success text-success{% endif %}">{{ ruta.dureza }}</strong>
                                        </div>
                                    </div>
                                    <div class="mt-2 ">
                                        {% if ruta.comentarios.count > 0 %}
                                            <a href="{% url 'detalles_ruta' id_ruta=ruta.id %}#comentarios"
                                               class="text-decoration-none text-dark d-flex align-items-center">
                                                <img src="{% static '/img/message-regular.jpg' %}"
                                                     width="16"
                                                     alt="comentarios">
                                                {{ ruta.comentarios.count }} comentarios</small>
                                            </a>
                                        {% elif ruta.comentarios.count == 0 %}
                                            <img src="{% static '/img/message-regular.jpg' %}"
                                                 width="16"
                                                 alt="comentarios">
                                            <small>No hay comentarios</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% empty %}
                    <div class="card shadow-lg border rounded-4 mb-4">
                        <div class="row g-0">
                            <p>No hay rutas disponibles</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
    <script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        {% if messages %}
            {% for message in messages %}
                {% if 'cambio_permiso' in message.extra_tags %}
                    iziToast.success({
                        message: '{{ message }}',
                        position: 'topRight',
                        timeout: 3000
                    });
                {% elif 'eliminar_Ruta' in message.extra_tags %}
                    iziToast.success({
                        message: '{{ message }}',
                        position: 'topRight',
                        timeout: 3000
                    });
                {% endif %}
            {% endfor %}
        {% endif %}
    document.addEventListener('DOMContentLoaded', function () {
            let formulario = document.querySelectorAll('#formulario-eliminar');

            formulario.forEach(form => {
                form.addEventListener('submit', function (e) {
                    e.preventDefault();  // Evita el envío inmediato

                    Swal.fire({
                        title: '¿Estás seguro que quieres eliminarla?',
                        text: "¡No podrás deshacer esta acción!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Sí, eliminar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            form.submit();  // Ahora sí envía el formulario
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}